  

  <h1>Registration WebApp</h1><br>
 
  
    
  </div>
  <div>
<form action="/reg_numbers" method="post">
   <input type="text" placeholder="Enter Reg Number" name="registrate" id="userinput" pattern="[A-Z]{2,3}\s\d{3}\s\d{3}">
   <br>
  {{!-- <input type="radio" name="Location" value="Tokai"> Tokai
  <input type="radio" name="Location" value="Plumbstead"> Plumbstead
  <input type="radio" name="Location" value="Constantia"> Constantia --}}    
      <button class="submitBtn">ADD</button>
    </form>

  </div>

  <div class=regnumber>
    <ul>
      {{#each reg_numbers}}
      <li>{{reg_number}}</li>
      {{/each}}
    </ul>
  </div>
  
