  

  <h1>Registration number exercise</h1><br>
 
  
    
  </div>
  <div class="rButts">
<form action="">
  <input type="radio" name="Location" value="Tokai"> Tokai<br>
  <input type="radio" name="Location" value="Plumbstead"> Plumbstead<br>
  <input type="radio" name="Location" value="Constantia"> Constantia
</form>

  </div>
  <div class="input-box">
    <form action="">
    <input type="text" placeholder="Enter Reg Number" name="" id="userinput">
    <button type="button" id="enter" name="button">ADD</button>
    <button type="button" id="eReset" name="button">RESET</button>
    </form>

  </div>

  <div class=regnumber>
    <ul>
    </ul>
  </div>
  
