  

  <h1>Registration WebApp</h1><br>
  <div class="row">
 {{#if messages.noReg}}
  <div class='Reg {{status}}'>
    {{messages.noReg}}
  </div>
  {{/if}}
</div>
 <div class="row">
<form action="/reg_numbers" method="post">
<p>Please Enter Regestration Number In Format Shown Below:</p>
   <input type="text" placeholder="CY 234 123" name="registrate" id="userinput" pattern="[A-Za-z]{2,3}\s\d{3}\s\d{3}" > 
   <button class="submitBtn">ADD</button><br>
   </form>

</div>
<div class="row">
  <p>Filter Towns by selecting which Town you want to display:</p><br>
<select name="Towns" class="dropdown">
  <option value="">Select Town</option>
  <option value="ALL">All Towns</option>
  <option value="CA">Cape Town</option>
  <option value="CJ">Paarl</option>
  <option value="CY">Bellville</option>
  <option value="CF">Strand</option>
</select>
<button class="button-primary resetBtn" name="button" onclick="reset()">Reset</button>
</div>

<div class=regnumber>
    <ul>
      {{#each reg_numbers}}
      <li>{{reg_number}}</li>
      {{/each}}
    </ul>
  </div>
  
