  

  <h1>Registration WebApp</h1><br>
 
  
    
  </div>
  <div>
<form action="/reg_numbers" method="post">
   <input type="text" placeholder="Enter Reg Number" name="registrate" id="userinput" > 
   
   
{{!-- pattern="[A-Z]{2}\s\d{3}\s\d{3}" --}}
  
    
      <button class="submitBtn">ADD</button>
    </form>
<button class="button-primary resetBtn" name="button" onclick="reset()">Reset</button>


  </div><br><br><br>

  <div class=regnumber>
    <ul>
      {{#each reg_numbers}}
      <li>{{reg_number}}</li>
      {{/each}}
    </ul>
  </div>
  
